################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameEngineSeries/FileContentIndex/5927be4c-8b5c-4924-8091-fbcbb7f4055f.vsidx
/.vs/GameEngineSeries/v17/Browse.VC.opendb
